<header class="sticky-header">
    <div class="container">
        <div class="row">
            <a href="#" class="logo"><img src="./images/logo.svg" alt="DesignRevision" class="w-100" style="width: 50px;height: 30px;"></a>
            <div class="ml-auto actions-wrapper">
                <div class="header-actions"><a href="/register" class="btn download btn-primary btn-pill"><i class="fa fa-arrow-right mr-1"></i> Đăng kí ngay</a> <a href="/login" class="btn documentation btn-outline-light btn-pill ml-1"><i class="fa fa-book mr-1"></i>
                        Đăng nhập</a></div>
            </div>
        </div>
    </div>
</header>