<%
	let names = {
		'/dashboard/': 'Bảng tổng quát',
		'/checkcmt/': 'Kiểm tra bình luận',
		'/linkcmt/': 'Thêm link bình luận',
		'/linkvideo/': 'Thêm link video',
		'/listlink/': 'Danh sách link',
		'/giaodich': 'Giao dịch',
		'/profile/': 'Thông tin cá nhân',
		'/quanliadmin/': 'Quản lí admin',
		'/quanliuser/': 'Quản lí user'
	}
%>
<div class="bottom">
    <div class="left">
        <h1>
            <%=names[href]%>
        </h1>
    </div>
    <div class="right">
        <h1>
            <%=names[href]%>
        </h1>
    </div>
</div>